<body>
body {background-color:#fff8b4;color:#F9C75C;}
#top{background:green; text-align:center;border-radius: 50%;}
#mid{background:#d9ffca;}
#foot{background:#c1fff4;}
#navbox{background:#d5ceff;}
#image{ }
.grid {margin:0 auto;
width:80%;}


</body>
